#
# The deploy.cfg file is located in the module top dir is a necessary file
# needed for deployments. This file contains config variables, such as 
# mongodb-host, mysqldb-host. Standard variable names are listed on the trac
# wiki at https://trac.kbase.us/projects/kbase/wiki/DeployCfgStandards
#
# The variables in the deploy.cfg file will get "injected" into the module
# makefile. In short, the variable is uppercased and dashes become underscores,
# so mongodb-host in the deploy.cfg file becomes MONGODB_HOST in the module
# makefile when the module makefile is invoked by the system make file at the
# top level of the dev container.
#
#
#
# Deployment configuration for the narrative_method_store module
#

[NarrativeMethodStore]

# location of the public github repo hosting the method documentation and specifications
github-resource-url = https://raw.githubusercontent.com/msneddon/narrative_method_specs/master

# port for the service. Note this is overridden by SERVICE_PORT in the
# makefile.
port = 7125

# server thread count - this determines the number of requests that can be
# processed simultaneously.
server-threads = 20

#Minimum memory size in MB. This must be 500Mb * server-threads.
min-memory = 10000

#Maximum memory size in MB.
max-memory = 15000