# DO NOT CHECK CHANGES TO THIS FILE INTO GIT!

[NarrativeMethodStoreTest]

# note mongod must be on the path

test.temp-dir = test/temp
test.remove-temp-dir = 1

test.method-spec-git-repo = https://github.com/kbase/narrative_method_specs
test.method-spec-git-repo-branch = test
test.method-spec-git-repo-refresh-rate = 2
test.method-spec-cache-size = 5000

test.auth-service-url=https://ci.kbase.us/services/auth/api/legacy/KBase/Sessions/Login
test.auth-service-url-allow-insecure=false
